{%extends 'shop/basic.html'%} {%block title%} Title of About {%endblock%} {%block body%} {% load static %}
<div class="container">
    <div class="row">
        <div class="col-md-6 my-4">
            <img src="{% static 'shop/img/viajar.jpg' %}" class="diseño" alt="">
        </div>
        <div class="col-md-6 my-4">
            <h3>EL PLACER DE VIAJAR</h3>
            <p>Durante este tiempo, en un crecimiento constante, innovando en servicios y estando a la vanguardia en tecnología para mejorar nuestro trabajo, hemos logrado consolidarnos como una de las más importantes <strong>EMPRESAS TURISTICAS CHILENAS</strong>.
                Nuestro éxito, esta basado en un esfuerzo permanente por cumplir nuestro mayor objetivo.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 my-4">
            <img src="{% static 'shop/img/realidad.jpg' %}" class="diseño" alt="">
        </div>
        <div class="col-md-6 my-4">
            <h3>HACER REALIDAD LOS SUEÑOS DE LA GENTE</h3>
            <p>Porque sabemos cuánto significa para usted cumplir el sueño de un viaje placentero, disfrutando de nuevos y paradisíacos lugares, o de aquellos que guardan la historia de la humanidad, es que siempre tenemos una alternativa que le permitirá
                concretar su viaje.</p>
            <p>Porqué elegir anlitur.com para sus viajes de negocios o de placer?Porque disponemos de todas las opciones y recursos para brindarle un servicio garantizado y de excelente calidad. Porque sabemos del VALOR DE SU TIEMPO, Y DE LA IMPORTANCIA
                DE SUS SUEÑOS.</p>
        </div>
    </div>
</div>

{%endblock%}